.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    max-height: 51px;
    max-width: 201px;
}