.header-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    padding-right: 27px;
    align-items: center;
    justify-content: space-between;


    &__nav {
        display: flex;
        align-items: center;
    }
}