.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1200px) {
        margin-left: 78px;
        width: auto;
        align-items: flex-start;
    }

    &__header {
        text-transform: uppercase;
        color: var(--white);
        line-height: 1.14em;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        @media screen and (min-width: 480px) and (max-width: 1199px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 0;
        }
    }

    &__input {
        height: 50px;
        width: 100%;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(117, 117, 117, 0.3);
        border-radius: 4px;
        padding: 16px 15px;
        background-color: transparent;

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

    &__button {
        position: relative;
        padding: 10px 76px 10px 42px;
        text-align: center;

        @media screen and (max-width: 1199px) {
            margin: 0 auto;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 12px;
        }
    }

    &__icon {
        position: absolute;
        top: 13px;
        right: 28px;
    }
}